body {
   font-family: 'DigitalStrip', sans-serif;
   margin: 0px;
   overflow-x: hidden;
}

a{
   list-style-type: none;
   text-decoration: none;
   list-style: none;
   color: black;
}

header {
   position: relative;
   width: 100%;
   height: 300px;
   margin-bottom: 60px;
   background-color: gray;
   display: flex;
}

header::after {
   content: " ";
   display: block;
   position: absolute;
   bottom: -50px;
   transform: rotate(-3deg);
   width: 110%;
   height: 100px;
   left: -5%;
   background: white;
   border-top-style: solid;
}

header img{
   height: 350px;
   width: 350px;
   transform: scaleX(-1);
}

header h1{
   top: 100px;
   left: 115px;
   position: absolute;
   transform: rotate(-2deg);
}

footer {
   width: 100%;
   height: 300px;
   background-color: gray;
   margin-top: 60px;
   position: absolute;
}

footer::after{
   content: " ";
   display: block;
   position: relative;
   transform: rotate(-3deg);
   top: -54px;
   width: 110%;
   left:  -1%;
   height: 100px;
   background: white;
   border-bottom-style: solid;
   z-index: 2;
}

footer img{
   z-index: 3;
   position: absolute ;
   height: 370px;
   width: 700px;
   right: 20px;
   bottom: 0px;
}

footer div img{
   height: 60px;
   width: 60px;
}

/* Homepage */

div.icon a{
   display: flex;
   justify-content: center;
   align-items: center;
}

div.icon img{
   height: 60px;
   width: 60px;
   position: absolute;
   right: 13%;
   top: 13%;
}

.contact-footer{
   position: absolute ;
   right: 6%;
   z-index: 4;
   height: 200px;
   width: 580px;
   bottom: 26%;
}

div.contact-footer h1{
   padding-left: 5%;
}

.contact-icon-footer{
   display: flex;
   justify-content: space-evenly;
}

.icon{
   background-color: lightgray;
   height: 80px;
   width: 80px;
   display: flex;
   border-radius: 50%;
   right: 5%;
   position: relative;
}

main section {
   display: flex;
}

.background {
   height: 700px;
   width: 500px;
   border-style: solid;
   border-width: 5px;
   background-image: url(/img/index-img-1.png);
   background-size: 500px 700px;
}

.img-home-page {

   height: 700px;
   width: 500px;
   border-style: solid;
   border-width: 5px;
   animation: animation-img-home-page 1s ease-out forwards 0.1ms;
}

@keyframes animation-img-home-page{
    0%{

    }
    100%{
      /*height: 700px;
      width: 500px;
      border-style: solid;
      border-width: 5px;*/
    }
}

main {
   display: flex;
   justify-content: space-evenly;
   transform: rotate(-3deg);
   background-image: url(/img/blue-sky-clouds_1017-30892.png);
}

.index-double {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

section.index-double a{
   border: solid black 5px;
}

.img-top {
   height: 300px;
   width: 500px;
   background-color: #cccccc;
   background-image: url(/img/index-img-2.jpg);
   background-size: cover;
}

.img-bottom{
   height: 300px;
   width: 500px;
   background-image: url(/img/index-img-2.jpg);
   background-size: cover;
}

.top-text{
   background-color: yellow;
   width: 100%;
   height: 75px;
   margin-top: -5.5%;
   border-bottom: black solid 5px;
}

div.top-text p{
   font-size: 3vh;
}

.text-bubble-middel{
   z-index: 2;
   height: 500px;
   width: 500px;
}

section div h1{
   z-index: 3;
   font-size: 5vh;
   margin-top: -55%;
   margin-left: 18%;
   transform: rotate(6deg);
}

.top-text-small{
   background-color: yellow;
   width: 100%;
   height: 75px;
   margin-top: -3.2%;
   border-bottom: black solid 5px;
}

.index-double-top-img{
   margin-left: -100px;
   margin-top: -120px;
   height: 500px;
   width: 700px;
   position: relative;
}

.index-double-top-h1{
   position: absolute;
   margin-top: 110px ;
   margin-left: 110px;
   font-size: 26px;
   transform: rotate(-2deg);
}

.index-double-bottom-img{
   position: relative;
   margin-top: -30px;
   height: 350px ;
   width: 550px  ;
}

.index-double-bottom-h1{
   position: absolute;
   margin-top: 90px;
   margin-left: 200px;
   font-size: 3vh;
   transform: rotate(2deg);
}

.mobile-warning{
   background-color: red;
   width: 500px;
   height: 150px;
   border: 5px solid black;
   border-radius: 15px;
   margin-top: 10%;
   margin-bottom: 15%;
   margin-left: 9%;
   display: none;
   text-align: center;
}

div.mobile-warning h1{
   font-weight: bold;
   color: white;
}

@media screen and (max-width: 1000px){

   main{
      flex-direction: column;
      justify-content: space-between;
      margin-left: 14%;
      margin-bottom: 15%;
  }

  section.index-double a{
      width: 500px;
  }

  .mobile-warning{
      display: block 
      
   }
  
}

/* Contactpage */

section.contact-page-left div{
   height: 300px;
   width: 500px;
   border: solid 5px black;
}

section.contact-page-left{
   height: 700px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.mainbox{
   position: relative;
   height: 300px;
   width: 500px;
   border: solid 5px black;
}

#img{
   background-image: url(/img/Image1.png);
   background-size: 500px 400px;
}


section.contact-page-right{
   height: 700px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#left{
   position: absolute;
   right: 50px;
   bottom: -270px;
   height: 800px;
   width: 800px;
}

#right{
   position: absolute;
   bottom: -190px;
   height: 800px;
   width: 800px;
}

#section{
   height: 700px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.textballoon{
   height: 200px;
   width: 600px;
   background-image: url(/img/think-bubble-1.svg);
   background-size: cover;
}

#text-speech-bubble{
   position: absolute;
   font-size: 20px;
   width: 400px;
   left: 250px;
   top: 40px;
}

.email-contact-page{
   z-index: 20;
   position: absolute;
   left: -155px;
   top: 150px;
   width: 325px;
   height: 50px;
}

#textarea{
   resize: none;
   font-family: 'DigitalStrip', sans-serif;
}

#textspace{
   display: flex;
   flex-direction: column;
}

.blox-git{
   background-image: url(/img/index-img-2.jpg);
   background-size: cover;
   display: grid;
   place-items:  center;
}

.blox-linkedin{
   background-image: url(/img/background-comic.png);
   background-size: cover;
   display: grid;
   place-items:  center;
}

#over-mij-page{
   background-color: pink;
   height: 800px;
   width: 95%;
   background-size: cover;
   border: 5px solid black;
   background-image: url(/img/149138473-close-up-illustration-of-opened-textbook-with-blank-pages-comic-book-style-cartoon-vector-illustrate-transformed.png);
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
}

.page-switch-over-mij{
   width: 280px;
   height: 300px;
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 4;
}

.skills-text{
   font-size: 4vh;
   margin-top: 0px;
   margin-left: 0px;
   transform: rotate(3deg);
   position: relative;
   left: 96px;
   top: -20px;
}

.switch-over-mij-page{
   height: 350px;
   width: 350px;
   position: absolute;
   
}

.mark-for-click-over-mij-page{
   position: relative;
   left: 180px;
   transform: rotate(6deg);
}

div.text-bubble-name-div img{
   height: 600px;
   width: 600px;
   position: absolute;
}

div.text-bubble-name-div p{
   position: relative;
   font-size: 3vh;
   left: 160px;
   top: 250px;
   transform: rotate(-3deg);
}

.text-bubble-school-div{
   grid-column-start: 3;
   grid-column-end: 4;
}

div.text-bubble-school-div img{
   position: absolute;
   height: 500px;
   width: auto;
}

div.text-bubble-school-div p{
   position: relative; 
   font-size: 3vh;
   width: 350px;
   left: 106px;
   top: 125px;
}

.mijn-projecten-wolk-fast-link{
   position: relative;
   left: 100px;
   top: -70px;
   width: 150px;
   font-size: 20px;
}

.hidden-mijn-projecten-fastlink{
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
   margin-left: 100px;
   display: none;
}

.java-text-bubble-skill{
   display: none;
   grid-column-start: 3;
   grid-column-end: 4;
   grid-row-start: 2;
   grid-row-end: 3;
}

.java-text-bubble-skill-bubble{
   position: absolute;
   height: 500px;
   width: 500px;
}

div.java-text-bubble-skill h1 {
   transform: rotate(0deg);
   margin-top: 0px;
   margin-left: 0px;
   position: relative;
   top: 160px;
   left: 140px;
}

div.java-text-bubble-skill div{
   display: flex;
}

.icon-star{
   height: 36px;
   width: 36px;
}

div.java-text-bubble-skill div{
   position: relative;
   width: 250px;
   top: 140px;
   left: 110px;
   display: flex;
   justify-content: space-evenly;
}

.javascript-text-bubble-skill{
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
   position: absolute;
}

div.javascript-text-bubble-skill h1{
   top: 100px;
   right: 20px;
   position: relative;
   transform: rotate(0deg);
}

div.javascript-text-bubble-skill div{
   position: relative;
   top: 70px;
   left: 130px;
}
